
#contact-form input[type="text"]{
	width:60%;
}

.check-in{
	width: 50%;
	float: left;
}
.check-out {
	width: 50%;
	float: left;
}
.nrCamere{
	width: 50%;
	float: left;
	margin-top: 10px;
	font:400 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#991D57;
}

select {
    width: 25%;
    height: 10%;
    margin-top: 2%;
    border-radius:4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#991D57;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
}
#selectareTipCamere{
	margin: 10px;
}