body {
	background-image: url('../img/cover.jpg');
	color: #000305;
	font-size: 95%; 
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: cover;
}
.body {
	clear: both; 
	margin: 0 auto; 
	width: 70%;
}
	
h1 {
	font-size: 1.571em;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 5%;
	text-align:center;
	}
h3 {

    padding: 14px;
    font-style: italic;
    background: rgb(225, 225, 225);
    border-radius: 3px 3px 3px 3px;
    font-size:1.2em;
    border: 1px solid white;
}

a {
	outline: 0;
	}
a img {
	border: 0px; 
	text-decoration: none;
	cursor: pointer;
}
a:link, a:visited {
	color: #CF5C3F;
	padding: 0 1px;
	text-decoration: none;
}

.orangeMarked:hover{
	background-color: #CF5C3F;
	color: #fff;
	text-decoration: none;
}


.firstHeader nav {
	font-size: 18px;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	opacity:0.8;
}
	
.firstHeader nav ul {
	list-style: none; 
	margin: 0 auto;
}

.firstHeader nav ul li {
	float: left; 
	display: inline; 
}
	
.firstHeader nav a:link, .firstHeader nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 28px;
	text-decoration: none;
}
.firstHeader nav a:hover, .firstHeader nav a:checked,
.firstHeader nav .checked a:link, .firstHeader nav .checked a:visited {
	background-image: url('../img/button.gif');	
}
.firstHeader nav li a {
	margin-left:3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.firstHeader img {
	width: 30%;
	height: auto;
	margin: 2% 0%;
	margin-left:35%;
}


.mainContent {
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity: 0.8;
}
.articleContent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;	
	margin-bottom: 3%;
}

.content {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

}
.content  ul li {
		list-style: none; 
		margin: 0 auto;
}

.content img {
	width: 30%;
	height: auto;
	margin: 3% 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	cursor: pointer;
}

.mainFooter {
	font-size: 18px;
	width: 100%;
	float: left;
	margin-top: 1%;
	margin-bottom: 3%;
	padding-left: 40%;
	color: #FFF;
}
.mainFooter p {
	width: 91%;
	margin: 2% auto;
}

#googleMaps{
	width:100%;
	height:400px;
	border-style:hidden;
}
.logoutAdmin input {
	width: 10%;
	float:right;
	margin-bottom: 2%;
	cursor:pointer;
	border:none;
	background-image: url('../img/button.gif');	
	color:#FFF;
	padding:5px;
	border-radius:2px;
}
.logoutAdmin input:hover {
	color:red;
}
@media only screen and (min-width : 150px) and (max-width : 780px)
{
	.body {
		clear: both; 
		margin: 0 auto; 
		width: 90%;
		font-size: 90%;
	}
	.firstHeader nav {
		font-size: 1.143em;
		height: 200px;
		line-height: 30px;
		margin-bottom: 0;
		
	}	

	.firstHeader nav ul{
		list-style: none; 
		margin: 0 auto;
		padding-left: 0;
	}
	.firstHeader nav li {
		margin-left: 0 auto;
		width: 100%;
	}
	.firstHeader nav a:link, .firstHeader nav a:visited {
		color: #FFF;
		display: block;
		height: 30px;
		padding: 5px 0;
		text-decoration: none;
	}
	.firstHeader nav a:checked,
		
	.firstHeader img {
		width: 100%;
		height: auto;
		margin-bottom: 3%;
		margin-left: 0%;
	}
	.mainContent {
		overflow: hidden;
		line-height: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-top: 4%;
		margin-bottom: 2%;
	}
	.articleContent {
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		padding: 2% 5%;
		margin-bottom: 4%;
	}
	.content {
		width: 100%;
		float: left;
	}
	.content ul li{
		text-align: left;
		width: 100%;
	}

	.content img {
		width: 100%;
		height: auto;
		margin-bottom: 3%;
	}
	.mainFooter {
		width: 100%;
		float: left;
		margin: 2% 0;
		padding-left: 0;
		color: #FFF;	
	}
	.mainFooter p {
		width: 86%;
		margin: 2% auto;
	}
	#googleMaps{
	width:100%;
	max-height:100%;
	border-style:hidden;
	}
	
	.check-in {
	width: 100%;
	}
	.check-out {
	width: 100%;
	}

	.table thead { display: none; }
  	.table tbody td { 
    display: block;
    text-align: left;
    margin: 0 auto;
  	}
  
	.table tbody td:before { 
    display: inline-block; 
  }
   .table form{
	width: 100%;
	float:left;
	display: block;
	margin:0 auto;
	}
	.logoutAdmin input {
	width: 100%;
	float:left;
	margin-bottom: 30%;
	}

}
}


#contact-form input[type="text"],
#contact-form input[type="password"],
#contact-form input[type="email"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
	width: 90%;
	margin: 2% auto;	
}

#contact-form h2 {	
	font-size:14px;
	color:#991D57;
}
#contact-form label span {
	cursor:pointer;
	color:#991D57;
	display:block;
	margin:5px 0;
	font-weight:900px;
}
#contact-form input[type="text"],
#contact-form input[type="password"],
#contact-form input[type="email"],
#contact-form textarea {
	width:90%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	padding:10px;
	border-radius:5px;
}

#contact-form textarea {
	min-height:150px;
	max-height:150px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:90%;
	border:none;
	background:#991D57;
	color:#FFF;
	margin:10px 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#roomSelection {
	width: 100%;
	margin: 0 auto;	

}
#roomSelection  span {

	margin:10px 0;
	float: left;
}
#roomSelection input[type="text"],
#roomSelection button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#roomSelection input[type="checkbox"]{
	margin: 0 auto;
	float: left;
}
#roomSelection input[type="text"]{
	width:20%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	padding:10px;
	border-radius:5px;
}
#roomSelection button[type="submit"] {
	cursor:pointer;
	width:90%;
	border:none;
	background:#991D57;
	color:#FFF;
	margin:10px 0 5px;
	padding:10px;
	border-radius:5px;
}
#roomSelection button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
	
	.table input 
	{
		cursor:pointer;
		width:100%;
		border:none;
		background-image: url('../img/button.gif');	
		color:#FFF;	
		padding:4px;
		border-radius:2px;
		float: left;
		
	}


	.table {
	text-align: center;
    width: 100%;
    color:#991D57; 

    }

   
    .table thead tr th
    {   text-align: center;
        padding: 0.4em;
        background:#991D57;
        color: white;
    }
    .table tbody tr th {
       text-align: center;
      
    }        
    .table form{
	width: 30%;
	float:left;
	margin-right: 3%;
	display: block;
	}
	
	